<html>
<head>
<title>CARGI</title>

<link rel="stylesheet" type="text/css" href="/static/main.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
</head>
<body>

<table>
  <tr>
    <td><img src="/static/cargi-only.png"></img></td>
  </tr>
  <tr>
    <td id="cargi-intro">Do you want to me to send updates?</td>
  </tr>
  <tr>
    <td><a href="/navigation">Yes</a></td><td><a href="/navigation">No</a></td>
  </tr>
</table>

<!-- <span id="cargi-intro">Hi, I'm Cargi!</span> -->
</body>
</html>